* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins;
    font-weight: Regular;
    font-size: 14px;
    background-color: #FFF;
}

header {
    width: 100%;
    height: auto;
    float: left;
    position: sticky;
    top: 0;
    z-index: 1020;
    background-color: #000;
}

h1 {
    font-weight: 400;
    /* font-size: 48px; */
    color: #582C92;
}

h2 {
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
}

p {
    line-height: 1.8;
    padding-bottom: 20px;
}

nav {
    width: 100%;
    height: auto;
    background-color: #582C92;
    position: relative;
    float: left;
}

/* 
nav ul li {
    display: inline;
    list-style:none;
}

nav ul li a{
    color: #FFf;
    font-size: 1.5em;
    padding-left: 100px;
    line-height: 80px;
    text-transform: uppercase;
    text-decoration: none;
}
nav ul li a:hover{
    color: #FFEA02;
} */
.Sec-home {
    width: 100%;
    max-width: 660px;
    height: auto;
    position: relative;
    float: left;
    margin-right: 60px;
}

.Sec-homeFoto {
    width: 100%;
    max-width: 466px;
    height: auto;
    position: relative;
    float: left;
    padding-top: 15px;
}

ul li {}

#logo {
    position: relative;
    float: left;
}



/*Sobreposição BootStrap*/
.bg-light {
    background-color: #5b2a8f !important;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #FFEA02;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255);

    &:hover {
        color: #FFEA02;
    }
}

.navbar-light .navbar-toggler {
    background-color: #fff !important;
}


/*Responsividade*/

/* Styles for screens wider than 768px (e.g., tablets and desktops) */
@media screen and (min-width: 769px) {
    h1 {
        font-size: 3em;
    }
}

/* Styles for screens up to 480px wide (e.g., mobile phones) */
@media screen and (max-width: 480px) {
    h1 {
        font-size: 2em;
    }
}

footer {
    width: 100%;
    height: auto;
    max-height: 105px;
    background-color: #7647B4;
    position: relative;
    float: left;
    margin-top: 20px;
}

footer p {
    width: 100%;
    max-width: 1150px;
    color: #B49DDB;
    text-align: center;
    line-height: 8;
}